src/spmf.jar
data/TEST/TEST_CG.txt
data/TEST/TEST_graph.txt
data/TEST/TEST_label.txt
data/TEST/TEST_pattern.txt
data/FOPPA/FOPPA_CG_MONO.txt
data/FOPPA/FOPPA_CG.txt
data/FOPPA/FOPPA_graph.txt
data/FOPPA/FOPPA_iso.txt
data/FOPPA/FOPPA_label.txt
data/FOPPA/FOPPA_mono.txt
data/FOPPA/FOPPA_pattern.txt
src/ECML.py
data/PTC/PTC_CG_MONO.txt
data/PTC/PTC_CG.txt
data/PTC/PTC_graph.txt
data/PTC/PTC_iso.txt
data/PTC/PTC_label.txt
data/PTC/PTC_mono.txt
data/PTC/PTC_pattern.txt
data/MUTAG/MUTAG_CG_MONO.txt
data/MUTAG/MUTAG_CG.txt
data/MUTAG/MUTAG_graph.txt
data/MUTAG/MUTAG_iso.txt
data/MUTAG/MUTAG_label.txt
data/MUTAG/MUTAG_mono.txt
data/MUTAG/MUTAG_pattern.txt
