# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
Terminer le programme de commandes (O/N)ÿ? Terminer le programme de commandes (O/N)ÿ? 
